{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <h1>ParkMobile API Schedule</h1>
  <br>This tool will allow you to preschedule events that will automatically scale ParkMobile API servers.
  <br>An instance will start at the time you submit, and then automatically be scaled back down at 3PM Eastern (unless traffic keeps it scaled up from CPU metrics).
  <br>Tip: You can overwrite an already scheduled event by using the same Event Name.  If you need to delete an event, please contact SRE.
  <h2>Current Schedule:</h2>
  {% for item in data %}
  {% if item['ScheduledActionName'] != "pmapi-scale-back-cron" %}
  <h3>{{ item['ScheduledActionName'] }}</h3>
  {{ item['Schedule'] }} {{ item['Timezone'] }}
  {% endif %}
  {% endfor %}
  <br><br>
  ------------------------------------------------------------------
  <h2>Submit New Event:</h2>
  <form method="post">
    <label for="title"></label>
    <br>
    Event Name:
    <input type="text" name="eventName"
           placeholder=""
           value="{{ request.form['eventName'] }}"></input>
    <br><br>
    <input type="date" name="date"
           placeholder="Message title"
           value="{{ request.form['date'] }}"></input>
    <input type="time" name="time"
           placeholder="Message title"
           value="{{ request.form['time'] }}"></input> UTC
    <br>
    <button type="submit">Submit</button>
    <br>
    <br>
    Submitted Event Name: {{ submittedEventName }}
    <br>
    Submitted Date: {{ submittedDateTime }}
  </form>
</div>
{% else %}
<p class="lead">Click the link below to login:</p>
<ol>
  {% for idp in idp_dict.keys() %}
  <li><a href="/saml/login/{{idp}}">Login via {{idp}}</a></li>
  {% endfor %}
</ol>
{% endif %}
{% endblock %}
